body { background-color: #f0f0f0; font-family: sans-serif; }
        
        .header-blue {
            background-color: #1C58D9;
            color: white;
            padding: 30px 0 60px 0;
            text-align: left;
        }

        .search-container {
            background-color: #F2E77E;
            padding: 8px;
            border-radius: 8px;
            margin-top: -30px;
           
        }
        .search-input-group {
            background: white;
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            height: 100%;
        }
        .search-input-group input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 14px;
        }

        .hotel-card {
            border: 1px solid #ccc;
            border-radius: 12px;
            overflow: hidden;
            background: white;
            margin-bottom: 20px;
        }
        .hotel-img {
            width: 180px;
            height: 140px;
            object-fit: cover;
            border-radius: 8px;
            margin: 10px;
        }
        .stars { color: #ffb700; font-size: 18px; }
        .price-text { font-weight: bold; font-size: 14px; }
        .btn-reserve {
            background-color: #3b5998;
            color: white;
            border: none;
            padding: 8px 0;
            border-radius: 4px;
            width: 100%;
            font-size: 14px;
        }
.btn-reserve:hover{
    background-color: #1C58D9;
    transition: background-color 0.2s ease-in-out, transform 0.3s ease;
}
.pay-icon {
        width: 80px;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 5px;
    }
  .pay-icon img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

        @media (max-width: 576px) {
            .hotel-img {
                width: calc(100% - 20px);
                height: 200px;
            }
        }